// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    @include text-medium;
    color: $color-gray-42;
}

*,
html {
    padding: 0;
    margin: 0;
}


svg {
    fill: $color-gray-42;
}

input,
button {
    -webkit-font-smoothing: inherit;
}

button:focus {
    outline:none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a{
    cursor: pointer;
    outline: none;
}
