// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------



.hide-text {
    overflow: hidden;
    padding: 0;
    text-indent: 101%;
    white-space: nowrap;
}


/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/**
 * Utilities
 * Imported from demo build..
 */

 .u-rotate-270 {
    transform: rotate(270deg);
    transition: transform .25s;
 }
.u-rotate-90 {
    transform: rotate(90deg);
    transition: transform .25s;
 }
 .u-rotate-0 {
    transform: rotate(0deg);
    transition: transform .25s;
 }
.u-hide {
    display: none !important;
}
.u-hidden {
    opacity: 0;
    transition: opacity .2s;
}
.u-show-right-border {
    border-right: solid 1px $color-gray-e0;
}
.u-selected {
    fill: $color-purple!important;
}


/* Spacer Margin Bottom - 8px Soft Grid */
$width-list: -8 0 8 16 24 32 40 48 56 64 72 80 88 96 108;
$margin-list-positions :("mt":top,"mr":right,"mb":bottom,"ml":left);
@each $namePos , $position in ($margin-list-positions) {
    @each $name in ($width-list) {
        .kds-#{$namePos}-#{$name} {
            margin-#{$position}: unquote($name+'px');
        }
    }
}
$padding-list-positions :("pt":top,"pr":right,"pb":bottom,"pl":left);
@each $namePos , $position in ($padding-list-positions) {
    @each $name in ($width-list) {
        .kds-#{$namePos}-#{$name} {
            padding-#{$position}: unquote($name+'px');
        }
    }
}
.kds-clear{
    clear: both;
}
.kds-float-l{
    float: left;
}
.kds-float-r{
    float: right;
}
.kds-align-start{
    align-self: flex-start;
}
/* Widths based on 5 increment*/
$width-list: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;
@each $current-width in $width-list {
    .width-#{$current-width} {
        width: unquote($current-width + '%');
    }
}

/*borders*/
.kds--b-0{
    border: 0;
}
.kds-b{
    border-style: solid;
    border-width: 1px;
}
.kds--br{
    border-right: 1px solid;
}
.kds--bt{
    border-top: 1px solid ;
}
.kds--bb{
    border-bottom: 1px solid;
}
.kds--b--gray{
    border-color: $color-gray-e0;
}
.kds--flex{
    display: flex;
}
.kds--inline{
    display: inline;
}
.kds--inlineb{
    display: inline-block;
}
.kds--row{
    flex-direction: row;
}
.kds--column{
    flex-direction: column;
}
.kds-align-center{
    align-items: center;
    justify-content: center;
}
.kds--fixed{
    position: fixed;
}
.kds--absolute{
    position: absolute;
}
.kds--relative{
    position: relative;
}
.kds--pills{
    padding: 4px;
    border-radius: 25px;
    border: 1px solid $color-gray-e0;
    background: $color-gray-f5;
    margin: 4px;
}
.kds--low{
    z-index: 1;
}
.kds--medium{
    z-index: 5;
}
.kds--high{
    z-index: 999;
}
.kds-top-0{
    top: 0 !important;
}
.kds--disabled-icon{
    pointer-events: none;
    opacity: 0.4;
    transition: all 0.4s ease-in;
}
.kds--svg-sm{
    width: 8px !important;
    height: 8px;
}
.kds--svg-standard{
    width: 16px;
    height: 16px;
}
.kds--no-overflow{
    overflow: hidden;
}
//backgrounds
@each $colorName, $colorValue in (
    'purple-dark': $color-purple-dark,
    'purple': $color-purple,
    'purple-light': $color-purple-light,
    'green-dark': $color-green-dark,
    'green': $color-green,
    'green-light': $color-green-light,
) {
    .kds--bg-#{$colorName} {
        background: #{$colorValue};
    }
}