.button-standard-gray {
    @include text-medium-semibold;
    height: 32px;
    padding: 0 16px;
    line-height: 1;
    background-color: $color-gray-ee;
    border: solid 1px $color-gray-e0;
    border-radius: 25px;
    &:hover {
        cursor: pointer;
        background-color: $color-gray-e0;
    }
    &.disabled,
    &[disabled="disabled"]{
        cursor: default;
        background-color: $color-gray-ee;
        color: $color-gray-9e;
    }
}