.content-manager-header{
    height: 48px;
    background: $color-purple-dark;
    position:relative;
    overflow: hidden;
    .logo{
        position: absolute;
        width: 108px;
        height: 27px;
        top: 11px;
        left: 8px;
        svg.logo-mark{            
            width: 35.66px;
            height: 26.7px;
            fill: #BDBDDC;
            margin-right: 6px;            
        }
        svg.logo-letters{
            position: absolute;
            width: 63.1px;
            height: 17.35px;
            fill: $color-white;
            margin-top: 7px;
            right: 0px;
        }
    }
    .search-container{
        margin-top: 8px;
        position: absolute;
        width: 498px;
        left: 50%;
        margin-left: -180px;
        .search-icon{
            position: absolute;
            width: 17px;
            height: 17px;
            fill: $color-purple-light;
            top: 9px;
            left: 16px;
        }
        .search-input{
            outline: none;
            display: block;
            border: 0;
            width: 364px;
            height: 32px;
            background-color: #3F4076;
            border-radius: 100px;
            padding-left: 45px;
            padding-right: 16px;
            @include text-medium;
            color: $color-purple-light;
            &:focus,
            &:active{
                background: $color-white;
                color: $color-gray-42;
                + .search-icon{
                    fill: $color-purple-dark;
                }
            }
        }
        .search-filters{
            position: absolute;
            right: -8px;
            top: 0;
            height: 32px;
            line-height: 32px;
            a{
                @include text-medium;
                color: $color-purple-light;
                margin-left: 24px;
                svg{
                    width: 9.98px;
                    height: 5.94px;
                    fill: $color-purple-light;
                    top: -1px;
                    position: relative;
                    left: 4px;
                }
                &:hover,
                &:active{
                    color: $color-white;
                    svg{
                        fill: $color-white;    
                    }
                    
                }
            }
        }
    }
    .user-menu{
        position: absolute;
        right: 16px;
        top: 8px;
        .avatar{
            width: 32px;
            height: 32px;
            background-size: cover;
            border-radius: 50%;
            float: left;
        }
        svg{
            float: left;
            width: 8px;
            height: 4.5px;
            fill: $color-purple-light;
            position: relative;
            top: 14px;
            margin-left: 8px;
        }
        &:hover,
        &:active{
            svg{
                fill: $color-white;
            }
        }
    }
}