.dropdown--round {
    @include dropDown;
    .dropdown__button {
        justify-content: flex-start;
        display: inline-flex;
        align-items: center;
    }
    .dropdown__title {
        padding-right: 8px;
    }
    ul.dropdown__content {
        @include dropDownContent(34px, 100%)
    }
    svg {
        margin-left: 8px;
    }
}
