.footer {
    position: relative;
    display: flex;
    flex-direction: flex-end;
    padding: 5px 15px;
    width: 100%;
    font-size: 12px;
    color: $color-gray-71;
    background-color: $color-gray-e0;
    border-top: solid 1px $color-gray-e0;
    z-index: 2000;
}
