.form-elements {
    margin: 40px;
    width: 200px;

    .radio-vertical {
        display: flex;
        flex-direction: column;
    }
    input[type=text] {
        max-width: 300px;
    }
    li {
        margin: 10px 0;
    }

    .text-input-example {
        margin-bottom: 40px;
    }

    .textarea-example {
        textarea {
            padding: 5px;
            height: 60px;
            min-height: 60px;
            width: 100%;
            resize: none;
            overflow: hidden;
            word-wrap: break-word;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 1.6;
            letter-spacing: .02em;
            color: $color-gray-71;
            border-color: $color-gray-e0;
            &:focus {
                padding: 5px;
                outline: none;
                border: solid 1px $color-cobalt;
            }
             &:hover > input {
                border-bottom: solid 1px $color-cobalt;
            }
            ::-webkit-input-placeholder {
                color: $color-gray-71;
                padding: 3px;
                border: none;
                outline: none;
                font-size: 12px;
                line-height: 1;
            }
        }
    }
}
