.image-text-input {
    .image-lockup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .image-file-name {
        display: flex;
        align-items: center;
        min-height: 24px;
        padding: 0 8px;
        background-color: $color-gray-ee;
        @include text-medium;
    }

    input:focus + label {
        opacity: 1!important;
        transition: opacity .3s;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 210px;
        padding: 8px;
        margin-bottom: 7px; // 7 === 8
        background-color: $color-gray-f5;
    }
}
