.input-text {
    width: 100%;
    //height: 41px;
    label {
        @include text-small;
        vertical-align: top;
        transition: opacity .3s;
    }

    input {
        @include text-medium;
        width: 100%;
        line-height: 1;
        padding: 6px 0 4px 0;
        border: none;
        border-bottom: solid 1px $color-gray-e0;
        background: 0;

        &:hover {
            border-bottom: solid 1px $color-gray-71;
        }
        &:focus {
            outline: none;
            border-bottom: solid 1px $color-green;
        }
    }

    ::-webkit-input-placeholder {
        // @include text-placeholder;
        padding-bottom: 1px;
    }
}
