.input-time-range {
    label {
        @include text-medium-semibold;
    }
    .time-inputs {
        display: flex;
        justify-content: flex-start;
        padding-top: 14px;
        label {
            @include text-small;
            text-transform: uppercase;
            padding-right: 8px;
        }
        li:first-child {
            padding-right: 16px;
        }
    }
}
