.input-number-max {

    label {
        color: $color-gray-42;
        font-size: 12px;
        font-weight: 400;
        padding-right: 8px;
    }
    input {
        color: $color-gray-42;
        font-size: 12px;
        padding: 7px 4px 5px 0;
        width: 22px;
        border: 0;
        border-bottom: solid 1px $color-gray-e0;
        background: none;
        text-align: left;

        &:focus {
            outline: none;
        }
    }
    input:hover {
        border-bottom: solid 1px $color-gray-71;
    }
    input:focus{
        border-bottom: solid 1px $color-green;
    }
    
    ::-webkit-inner-spin-button {
         -webkit-appearance: none;
        cursor: pointer;
        position: relative;
        height: 2px; // hack - adds height to arrows
        opacity: 1;
        //background: url(../images/arrow-double-vertical.svg) no-repeat 50% 50%;
        padding: 4px;
        left: 4px;
        top: -1px;
    }
}



/* Attempt at adding background svg inine ...
        background-image: url(../images/md-icon-library/svg-symbols.svg#arrow-double-vertical) no-repeat 50% 50%;
      background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 11'><title>double-arrow-vertical</title><path d='M12,7,8,3,4,7ZM4,10l4,4,4-4Z' transform='translate(-4 -3)'/></svg>") no-repeat 50% 50%;

 */
