/* Sidebar */
.media-tools {
    float: left;
    height: 100%;
    position: relative;
    z-index: 1;
    padding-right: 16px;
    width: 52px;
    margin-left: -22px;
    ul {
        li {
            text-align: center;
            cursor: pointer;
            position: relative;
            flex: 0;
            background-color: $color-gray-fa;
            border-radius: 20px;
            font-size: 20px;
            border: 1px solid $color-gray-e0;
            padding: 4px;
            margin-bottom: 8px;
            width: 32px;
            height: 32px;
            svg {
                fill: $color-gray-71;
                top: 2px;
                position: relative;
                &:hover {
                    fill: $color-gray-42;
                }
            }
            &.image-icon{
                padding: 3px;
                svg{
                    width: 16px;
                    height: 11px;
                    
                }
            }
            &.text-icon{
                svg{
                    width: 12px;
                    height: 15px;
                    
                }
            }
            &:hover {
                background-color: $color-gray-ee;
                svg {
                    fill: $color-gray-42;
                }
            }
        }
    }
}


