.modal {
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;

    .modal--close {
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;
        svg {
            width: 30px;
            fill: white;
        }
    }

    .modal__content {
        cursor: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 70%;
        background-color: white;
    }
}
