.panel-comments {
    width: 100%;
    min-width: 200px !important;
    padding: 28px 0;
    @include text-medium;
    color: $color-gray-42;
    p {
        font-size: 12px;
        @include text-medium;
        color: $color-gray-42;
        line-height: 12px; 
    }
    .disabled{
        background-color: inherit;
        &:hover{
            background-color: inherit;
            color: $color-gray-9e !important;
        }
    }
    .create-comment, 
    .main-comment-container {
        padding: 0 16px;
        margin-bottom: 16px; 
        .btns-comment-cancel{
            display: none;
            font-size: 10px;
            font-weight: 600;
            padding: 8px 0px 0px 0px;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            li{
                 padding-left: 10px;
                 &:hover {
                    color: $color-green;
                }
            }
        }
        ul{
            @include text-medium;
        }
        textarea{
            @include text-medium;
            padding: 8px;
            border-color: $color-gray-e0;
            height: 60px !important;
            min-height: 60px;
            width: 100%;
            resize: none;
            &:focus {
                outline: none;
                border: solid 1px $color-green; 
            }
        }
        
    }

    .main-comment-container > li:first-child {
        border-top: 0; 
    }

    .main-comment-container > li {
        border-top: solid 1px $color-gray-e0; 
    }

    .main-comment {
        line-height: 12px;
        margin-top: 16px;
        .name-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .name {
            @include text-medium-semibold;
            padding-bottom: 8px;
        }
        .date {
            @include text-large-semibold;
            font-variant: all-small-caps;
            line-height: 10px;
            color: $color-gray-9e;
            padding-bottom: 16px; 
        }
        .msg {
            font-size: 12px;
            font-weight: 400;
            a{
                color: $color-green;
            }
        }
    }

    .reply-container {
        margin: 16px 0;
        background-color: $color-gray-ec;
        .reply-header {
            padding: 0 8px; 
            display: flex;
            align-items: center;
            font-size: 12px;
            color: $color-purple;
            font-weight: 400;
            height: 32px;
            cursor: pointer;
            border-bottom: 1px solid $color-white;
            svg {
                width: 7px;
                margin-right: 6px;
                position: relative;
                top: 1px; 
            }
        }
        .replies{
            li{
                &:last-child{
                    border-bottom: 0; 
                }
            }
            .btns-reply-cancel{
                display: flex;
                justify-content: flex-end; 
                font-size: 10px;
                padding: 8px 0px 0px 0px;
                cursor: pointer;
                li{
                    padding-left: 10px;
                    font-weight: 600; 
                    &:hover{
                       color: $color-green; 
                    }
                }
            }
            .area-container{
                padding: 8px;
                border-bottom: 1px solid $color-white;
                textarea {
                    padding: 8px;
                    height: 60px;
                    min-height: 60px;
                    border-color: $color-gray-e0;
                    width: 100%;
                    resize: none;
                    overflow: hidden !important;
                    &:focus{
                       outline: none;
                        border: solid 1px $color-green;  
                    } 
                }
            }
        }
        .reply-body {
            padding: 8px;
            border-bottom: solid 1px rgba(155, 155, 155, 0.25);
            .name-container {
                display: flex;
                justify-content: space-between;
                align-items: center; 
            }
            .name {
                @include text-medium-semibold;
                padding-bottom: 8px;
                line-height: 12px;
            }
            .date {
                font-variant: all-small-caps;
                @include text-large-semibold;
                line-height: 10px;
                color: $color-gray-9e;
                padding-bottom: 16px; 
            }
            .msg {
                font-size: 12px;
                line-height: 12px;
                a{
                    color: $color-green;
                }
            }
            li{
                &:last-child {
                    padding-bottom: 20px; 
                }
            }
        }

    }
    .comment-menu {
        display: inline-block;
        cursor: pointer;
        padding-bottom: 0px;
        position: relative;
        top: -15px; 
        svg {
            height: 15px;
            fill: #4A4A4A;
            padding: 0px; 
        }
        .comment-menu-dd {
            position: absolute;
            background-color: white;
            width: 70px;
            right: 0;
            @include text-medium-semibold;
            box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.35);
            z-index: 999;
            .btn-delete {
                cursor: pointer;
                padding: 10px;
                &:hover{
                  background-color: #f5f5f5;   
                } 
            }
            .btn-edit {
                cursor: pointer;
                padding: 10px;
                &:hover{
                  background-color: #f7f7f7; 
                } 
            }
        }
    }
    .comment-menu:hover > svg {
        background-color: #e4e4e4; 
    }
    .text-area-comment{
        position: relative;
        .user-list-container{
            @include text-medium;
            position: absolute;
            z-index: 9999;
            top: 62px;
            left: 0px;
            margin: 0;
            padding: 8px 0;
            border-radius: 2px;
            background: white;
            text-align: left;
            box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.35);
            transition: all .15s ease-in-out;
            width: 237px;
            li {
                position: relative;
                cursor: pointer;
                display: block;
                list-style: none;
                padding: 4px 16px;
                margin: 0;
                margin-bottom: 2px;
                width: 100%;
                &.active{
                    @include text-medium-semibold;
                    background-color: #e0e0e0;
                }
            }
        }
    }
}