.panel-help {

    .help-content {
        padding: 0 16px;
        width: 264px;
        h3{
            @include text-large-semibold;
        }
        h4{
            @include text-medium-semibold;
            margin-top: 24px;
            margin-bottom: 16px;
        }
        p{
            @include text-medium;
        }
        ul{
            padding-left: 31px;
            li{
                // display: block;
                // padding-left: 40px!important;
                list-style: disc;
                // list-style-position: outside;
                @include text-medium; 
            }
        }
    }
}
