/* Panel */
.canvas{
    @include transition-properties;
}
.panel-widget-composer {
    top: 0;
    height: 100%;
    width: 272px;
    margin-right: -272px;
    z-index: 1000;
    border-left: solid 1px $color-gray-e0;
    
    @include transition-properties;

    &.u-panel-open{
        margin-right: 0px;
    }

    .panel-content {
        padding: 22px 0;
        height: 100vh;
        background-color: $color-gray-fa;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 280px;
        .panel-header {
            @include text-large-semibold;
            color: $color-gray-42;
            line-height: 1;
            padding-left: 16px;
            margin-bottom: 35px;
            height: 12px;
        }
        li {
            position: relative;
        }
    }
}
