.panel-metadata{
   .description-container{
        &:nth-child(2){
            border-top: solid 1px $color-gray-e0;
        }
        .txt-input{
            padding: 5px 0 4px 0;
        }
    } 
}
.accordian {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: solid 1px $color-gray-e0;
    padding: 0 16px;
    
    .accordian__btn {
        padding: 4px 8px 4px 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        svg {
            height: 8px;
            width: 4px;
            transition: transform .25s;
            fill: $color-gray-71;
        }
        &.open{
            .accordian__title{
                padding-left: 4px;
            }
            svg {
                    position: relative;
                    left: -2px;
                    height: 4px;
                    width: 8px;
                }
        }
        &:hover svg {
            fill: $color-gray-42;
        }

    }
    .accordian__container {
        position: relative;
        top: 0;
        height: auto;
        width: 100%;
        // overflow: hidden;
        transition: height .2s;
    }
    .accordian__title {
         padding: 5px 10px 5px 8px;
        cursor: pointer;
        @include text-medium-semibold;
        color: $color-gray-42;
    }
    /* override for mixin -- need to refactor this .. */
    .dropdown-content {
        width: 100%;
        top: 45px;
    }
    .accordian__content {
        padding: 8px 0px 16px 0px;
        li {
            cursor: pointer;
            font-size: 12px;
        }
        input:focus + label {
            opacity: 1!important;
            transition: opacity .3s;
        }
    }
    .input-time-range{
        padding: 6px 0 20px 0;

    }
    
}

.remove-mask {
    overflow: visible!important;
}
.white-bkgd {
    background-color: white;
}
.panel-closed {
    height: 0!important;
}
