.radio-buttons-vertical {
    .radio-button-header {
        height: 9px;
        line-height: .8;
        margin-bottom: 16px;
    }
    label {
        color: $color-gray-42;
    }
    input[type='radio'] + label {
        display: flex;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 34px;
        li {
            height: 13px;
            margin-bottom: 8px;
            &:nth-last-child(1) {
                margin-bottom: 0px;
            } 
        }
        
    }
    
}
