
/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 * https://codepen.io/rgfx/pen/aixDn?editors=1100
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 *  Checkbox & Radio Button
 */
input[type="radio"],
input[type="checkbox"]{
    @extend .visuallyhidden;
}

input[type="radio"] + label,
input[type="checkbox"] + label{
    @include text-medium;
    position: relative;
    padding-left: 25px;
    color: $color-gray-42;
    &:before{
        position:absolute;
        left:0;
        content:" ";
        display:block;
        width:10px;
        height:10px;
        border: solid 1px $color-gray-71;
        background: $color-white;
    }
    &:hover:before {

    }
}

input[type='radio'] + label,
input[type='checkbox'] + label {
    padding-left: 20px;
    white-space: nowrap;
    cursor: pointer;
    line-height: 13px;
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label{
    text-decoration: none;
}

/**
 *  Checkbox
 */

input[type="checkbox"]:checked + label {
    &:before{
        width:13px;
        height:13px;
        background: $color-purple;
        border-radius: 50%;
        border: solid 1px $color-gray-9e;
        top: 2px;
    }
}

input[type='checkbox'] + label:after {
    content: '';
    display: block;
    margin-left: 4px;
    margin-top: -11px;
    width: 5px;
    height: 8px;
    border: solid rgba(0,0,0,0);
    border-width: 0 2px 2px 0;
}

input[type='checkbox']:checked + label:after {
    content: '';
    display: block;
    position: relative;
    top: -3px;
    right: 0px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type='checkbox'] + label:before {
    height: 13px;
    width: 13px;
    border-radius: 2px;
}

input[type='checkbox']:checked + label:before {
    height: 13px;
    width: 13px;
    background-color: $color-purple;
    color: white;
    border: solid 2px $color-purple;
    border-radius: 2px;
}

/**
 *  Radio Button
 */
input[type="radio"] + label:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

input[type='radio'] + label:before {
    border-radius: 50%;
    height: 13px;
    width: 13px;

}

input[type='radio']:checked + label:before {
    background: white;
    border: solid 4px $color-purple;
}

input[type='radio']:checked + label:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

