.radio-buttons-response {
    .radio-button-header {
        //line-height: .8;
        margin-bottom: 9px; // Magic Number value should be 16
    }
    .radio-container {
        display: flex;
        justify-content: space-between;
    }
    label {
        color: $color-gray-42;
    }
    input[type='radio'] + label {
        display: flex;
    }
    li input[type='radio']:checked ~ .input-number-container {
        opacity: 1;
    }
    .input-number-container {
        padding-left: 20px;
    }
    li div {
        display: flex;
        align-items: center;
        height: 21px;
    }
}
