.tagger {
    position: relative;
    top: 33px;
    right: 27px;
    @extend .kds--high;
    &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: 8px solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: -1px;
    }
    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        margin-left: -4px;
    }
    &:before {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        margin-left: -5px;
    }

    > .tagger--container {
        position: absolute;
        min-width: 395px;
        background: white;
        padding: 16px;
        right: -210px;
        top: 14px;
        margin-top: 0px;
        border-radius: 2px;
        color: $color-gray-42;
        @include text-medium;
        > .tagger--holder {
            > .tagger--elements {
                > .tagger--button {
                    > button {
                        cursor: pointer;
                        &:hover, &:active {
                            background: $color-green-dark;
                        }
                    }
                }
                > .tagger--pills {
                    > input {
                        border: 0;
                        padding: 8px;
                        @extend .kds--inlineb;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
            }
        }
        > div > div {
            > button {
                overflow: visible;
                position: relative;
                float: right;
                border: 0;
                cursor: pointer;
                background: $color-green;
                width: 32px;
                height: 100%;
                padding: 5px;
                > svg {
                    width: 16px;
                    height: 16px;
                    fill: $color-white;
                }
            }
        }
    }
}

.tagger--list {
    margin-left: 49px;
    width: 312px;
    border-radius: 2px;
    background: $color-white;
    > li {
        &:first-child {
            @include text-medium;
            @include font-bold;
            min-height: 30px;
        }
        cursor: pointer;
        padding: 4px;
        &:hover {
            background: $color-gray-ec;
            transition: all 0.6s ease-in;
        }
    }
}

.kds-shadow--box {
    -webkit-box-shadow: 0 2px 8px 0 rgba(137, 137, 137, 1);
    -moz-box-shadow: 0 2px 8px 0 rgba(137, 137, 137, 1);
    box-shadow: 0 2px 8px 0 rgba(137, 137, 137, 1);
}

.metadata--tagger {
    &.tagger {
        position: static;
        &:after, &:before {
            display: none;
        }
        > .tagger--container {
            padding: 0;
            background: $color-white;
            position: static;
            box-shadow: none;
            > .kds--absolute {
                > .tagger--list {
                    margin-left: 0;
                    width: 394px;
                }
            }
        }
    }
}