
#widget {
    height: 100%;
    .widget-rich-text{
        color: $color-gray-42;
        &:empty{
            color: $color-gray-71;
        }
        > .title{
            margin-bottom: 8px;
            @include text-extra-large-semibold;
        }
        > .introduction{
            margin-bottom: 6px;
            @include text-large;
        }
        > .caption{
            margin-bottom: 6px;
            margin-top: 14px;
            @include text-medium;
        }
         > .credit{
            @include text-extra-small;
        }

        .fr-placeholder {
            color: $color-gray-71;
        }
    }                    
}
