  .widget-editor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .workspace {
        position: relative;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100vw;

        .canvas {
            flex: 2;
            overflow-y: auto;
            padding: 16px;
            background-color: $color-gray-fa;
        }

        .artboard-container {
            width: 860px;
            margin: 0 auto;
            background-color: $color-gray-fa;
            margin-bottom: 16px;
            .media-tools {
                float: left;
            }
            .artboard {
                // ASPECT RATIO 4:3
                width: 800px;
                height: 600px;
                overflow: hidden;
                background-color: $color-white;
                padding: 37px 39px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
                display: block;
                float: left;

            }
        }
    }
}
